.title {
  text-align: center;
}

.body {
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 200px;
}

.cButton {
  width: 100px;
}

.pButton {
  display: flex;
  justify-content: center;
}

.font {
  font-size: 100;
}

.passwordList {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.listBorder {
  border: none;
}

.line {
  border: solid 0.1px;
  margin: 1%;
}